.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.bot-icon-box {
  width: 70px;
  height: 70px;
  float: left;
  margin-top: 82vh;
  margin-right: 40px;
  border: 2px solid #236ad4;
  border-radius: 10px;
  background: white;
  svg {
    fill: #236ad4;
  }
}

.bot-icon-box:hover{
    background:black;
    cursor: pointer;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* Decreased height */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.chatHeader {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageList {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.messageItem {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 75%;
  word-wrap: break-word;
}

.messageItem.bot {
  background-color: #f1f1f1;
  align-self: flex-start;
  color: #000;
}

.messageItem.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.chatForm {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.chatButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chatButton:hover {
  background-color: #0056b3;
}
